<div class="container">
  <h1>Welcome</h1>
  <p>you've clicked <span class="btn btn-primary" (click)="countClick()"> this</span>{{ clickCounter}} times</p>
  <div>
    <input class="form-control" type="text" [(ngModel)]="name"><br>
    <strong> You said: </strong> {{name}}
  </div>

</div>
